body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.image {
  border-style: groove;
  display: inline-block;
  width:75%;
  text-align:center;
  border-radius: 10px;
}

.images {
	text-align: center;
	width: 100%;
}

.pic {
	width: inherit;
}

.comment {
	text-align: center;
	border-style: groove;
	border-radius: 10px;
	width: 100%;
}